<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>

<body>
  <div >
    Bing image search
  </div>
  <form action="search" method="POST">
    search
    <input type="text" name="searchString" />
    <input type="submit" />
  </form>

</body>
</html>
