<!DOCTYPE html>
<html>
<head>
  <title>Our Modal Dialog Example</title>
</head>

<body>
  <div >
    User Login
  </div>
  <form action="login" method="POST">
    <input type="text" name="email" />
    <input type="text" name="password" />
    <input type="submit" />
  </form>
  
</body>
</html>
