<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>

<body>
  <div >
    User Login
  </div>
  <form action="login" method="POST">
    <input type="text" name="email" />
    <input type="text" name="password" />
    <input type="submit" />
  </form>
  <div><a href="register">register</a> </div>

  <div><a href="vedio"> vedio recommender tool </a></div>
  
</body>
</html>
