<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>

<body>
  <div >
    vedio index tool
  </div>
  <form action="register" method="POST">
  	<label>email</label>
    <input type="text" name="email" />
    <label>username</label>
    <input type="text" name="username" />
    <label>password</label>
    <input type="text" name="password" />
    
    <input type="submit" />
  </form>
  
</body>
</html>
